<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="ur3e">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <xacro:include filename="$(find ur3e_moveit_config)/urdf/ur3e.urdf.xacro" />

    <xacro:include filename="ur3e.ros2_control.xacro" />

    <xacro:ur3e_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
