<?xml version="1.0"?>

<robot xmlns:xacro="http://wiki.ros.org/xacro" name="ur3e">

    <xacro:arg name="layout_1" default="false"/>
    <xacro:property name="layout_1" value="$(arg layout_1)"/>
    <xacro:arg name="layout_2" default="false"/>
    <xacro:property name="layout_2" value="$(arg layout_2)"/>

    <xacro:arg name="EndEff" default="false"/>
    <xacro:property name="EndEff" value="$(arg EndEff)"/>

    <xacro:arg name="safety_limits" default="false"/>
    <xacro:arg name="safety_pos_margin" default="0.15"/>
    <xacro:arg name="safety_k_position" default="20"/>

    <xacro:include filename="$(find ur3e_gazebo_sim)/urdf/ur3e_macro.urdf.xacro"/>	
    <xacro:ur3e prefix="" EndEff="${EndEff}" safety_limits="$(arg safety_limits)" safety_pos_margin="$(arg safety_pos_margin)" safety_k_position="$(arg safety_k_position)"/>

    

</robot>